@using Tablazor.Template.Services
@inherits LayoutComponentBase
@inject IBrandingProvider BrandingProvider

<TabLayout>
    <TabNavbar ContainerSize="ContainerSize.ExtraLarge">
        <Brand>
            <a href="/">
                @BrandingProvider.ApplicationName
            </a>
        </Brand>
    </TabNavbar>
    <TabPageWrapper>
        <TabPageBody ContainerSize="ContainerSize.ExtraLarge">
            @Body
        </TabPageBody>
    </TabPageWrapper>
    <TabFooter>
        
    </TabFooter>
</TabLayout>

<TabToastContainer @rendermode="InteractiveServer"></TabToastContainer>