@inherits TabComponentWithChildren

@if (Visible)
{
    <CascadingValue Value="this" IsFixed="false">
        <div @ref="@Element" @attributes="Attributes" class="@GetCssClass()" style="@GetStyle()" id="@GetId()">
            @ChildContent
        </div>
    </CascadingValue>
}
