<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["Tablazor.DemoSite.styles.css"]"/>
    <link rel="stylesheet" href="~/css/prism.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tabler/core@latest/dist/css/tabler.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tabler/core@latest/dist/css/tabler-vendors.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tabler/core@latest/dist/css/tabler-themes.min.css" />
    <ImportMap/>
    <HeadOutlet/>
</head>

<body>
    <Routes/>

    <script src="~/js/prism.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@tabler/core@latest/dist/js/tabler.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>