@page "/Avatars"
@using Tablazor.DemoSite.Models

<div class="card">
    <div class="card-body">
        <pre>
            <code>
                
            </code>
        </pre>
    </div>
</div>

@code {
    
    [CascadingParameter(Name = "Demo")]
    public Demo? Demo { get; set; }
    
}