@page "/typography"
@using Tablazor.DemoSite.Models

<div class="card card-lg">
    <div class="card-body">
        
    </div>
</div>

@code {

    [CascadingParameter(Name = "Demo")]
    private Demo? Demo { get; set; }
    
}