@inherits TabBaseComponent

@if (Visible)
{
    <div @ref="Element" id="@GetId()" class="@GetCssClass()" style="@GetStyleString()" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}
