<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <base href="/" />

    <link rel="stylesheet" href="tabler/css/tabler.min.css" />
    <link rel="stylesheet" href="tabler/css/tabler-flags.min.css" />
    <link rel="stylesheet" href="tabler/css/tabler-payments.min.css" />
    <link rel="stylesheet" href="tabler/css/tabler-vendors.min.css" />
    <link rel="stylesheet" href="tabler/css/global.css" />
    <link rel="stylesheet" href="app.css" />
    
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
